.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    border: 1px solid black;
    border-radius: .50rem;
    width: 1100px;
    margin-top: 10px;
  
}
.card-top a.first{
    margin-left: 30px;
}
.item{
    margin: 18px;
    text-align: center;
    text-overflow: clip;
    align-self: center;
}
.item img{
    width: 64px;

}
.item a:hover{
    
    color: blue;
}
.card{
    padding: 10px;
    margin: 15px;
    margin-left: 65px;
}
.card img{
    width: 200px;
    height: 230px;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 1.5s ease-in-out;
    transform: scale(1.1);
}